{% extends "api_browser/base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}api_doc/css/screen.css">
{% endblock %}

{% block content %}
{% load api_doc_tags %}
<section id="api-explorer">
    <section id="common">
        {{ markdown_filtered_content|safe }}
        {% template_exists "api_doc/extra.html" %}
    </section>
    {% include "api_browser/resources.html" with schema=schema %}
</section>
<section id="links">
    <div id="common-links">
        <h2>Description</h2>
        <ul>
        </ul>
    </div>
    <h2>Resources</h2>
    <ul>
        {% for resource in schema.resources %}
            <li class="resource">
                <a href="#{{ resource.name }}">{{ resource.name }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function () {
        APIBrowser.prototype.selectors.endpoint_anchor = '.endpoint > a';
        new APIBrowser();
    });
</script>
<script src="{{ STATIC_URL }}api_doc/js/links.js"></script>
{% endblock %}

