body {
    width: 940px;
}

code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 4px;
    display: inline-block;
}

pre {
    word-break: break-all;
}

section#api-explorer {
    float: right;
    width: 700px;
}
section#resources {
    width: 100%;
}

section#common {
    font-size: 14px;
}

section.resource {
    width: 100%;
}


section.resource ul li form, section.resource ul li .result {
    margin: 0 60px;
}

/*
 * Links definitions
 */

section#links {
    position: fixed;
    float: left;
    width: 220px;
    margin-top: -70px;
    overflow-y: scroll;
    max-height: 100%;
}

    section#links h2 {
        margin: 10px 0 5px 0;
        font-size: 20px;
    }

    section#links ul {
        margin: 0 0 10px 0;
        padding: 0;
    }

        section#links ul li {
            list-style-type: none;
            padding: 0 0 0 10px;
        }
            section#links ul li:hover {
                background-color: rgb(240, 240, 240);
            }

            section#links ul li a {
                text-decoration: none;
                color: grey;
                font-size: 14px;
            }

section.resource ul li .full_description a {
    background-color: inherit;
    display: inline;
    color: #0088cc;
}
